<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    {{#if isShopPage}}
    <link rel="stylesheet" href="/shop.css">
    {{/if}}
    <link rel="icon" href="/images/apple-icon-image-format-macintosh-icon-apple-logo-png.jpg" type="image/x-icon">
    <style>
        /* General Page and Header */
        body,
        html {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            height: 100%;
        }

        /* Navbar Styling */
        .navbar {
            background-color: whitesmoke;
            height: 80px;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 1000;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .navbar-brand {
            display: flex;
            align-items: center;
            color: #2554C7;
            font-size: 2rem;
            font-weight: bold;
            text-decoration: none;
            line-height: 80px;
        }

        .navbar-brand img {
            width: 40px;
            /* Larger logo size */
            height: 40px;
            margin-right: 10px;
            background-color: #2554C7;
            /* Set background color */
            border-radius: 50%;
            /* Make it circular */
            padding: 5px;
            /* Add some spacing inside */
        }

        .navbar-nav .nav-link {
            color: #2554C7;
            font-size: 1.2rem;
            font-weight: 600;
            padding: 10px 20px;
        }

        .navbar-nav .nav-link:hover {
            color: #ffcc00;
        }

        .icon-small {
            width: 30px;
            height: 30px;
            color: #2554C7;
            background: rgb(153, 153, 153);
            border-radius: 1.5rem;
            padding: 4px;
        }

        /* Responsive Navbar */
        @media (max-width: 767px) {
            .navbar {
                height: auto;
            }

            .navbar-toggler {
                border: none;
                font-size: 1.5rem;
                color: #2554C7;
            }

            .navbar-nav {
                display: flex;
                flex-direction: column;
            }

            .nav-link {
                font-size: 1.1rem;
                padding: 10px;
            }

            .dropdown-menu {
                width: 100%;
                border: none;
                box-shadow: none;
            }
        }

        .dropdown-menu .nav-link {
            color: #2554C7;
        }

        .dropdown-menu .nav-link:hover {
            background-color: #f0f0f0;
        }

        html {
            scroll-behavior: smooth;
        }

        .main-content {
            padding-top: 80px;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img class="" src="/images/apple-icon-image-format-macintosh-icon-apple-logo-png.jpg" alt="Logo">
                <span class="" style="font-size:2rem;font-weight: bolder;">iStore</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/shop">Shop</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>
                </ul>
                <ul class="navbar-nav ml-3">
                    {{#if user}}
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/profile/user">
                            <img src="/images/user.svg" alt="User" class="icon-small">
                        </a>
                    </li>
                    {{else}}
                    <li class="nav-item"><a class="nav-link" href="/auth/login"><b>Login</b></a></li>
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link" href="/cart/get-cart">
                            <img src="/images/cart.svg" alt="Cart" class="icon-small">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main-content">
        {{{body}}}
    </div>

</body>

</html>