<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="loginhead">
        <div class="mains">
            <form action="/auth/reset-password" method="post">
                <input type="hidden" name="email" value="{{email}}" required>
                <label for="password">Enter New Password</label>
                <input type="password" name="password" placeholder="Enter new password" required>
                <input type="password" name="confirmPassword" placeholder="Confirm new password" required>

                {{#if error}}
                <p style="color: red;text-align: center;">{{error}}</p>
                {{/if}}

                <button class="logButton" type="submit">Reset Password</button>
            </form>
        </div>
    </div>
</body>

</html>